<!DOCTYPE html>
<html>
  <head>
  <!--yieldメソッドを呼び出している。これにより、ブラウザのテンプレ部にタイトルがでる（メソッドはヘルパーで定義したもの）-->
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 
                               'data-turbolinks-track': 'reload' %>
   
    <%= javascript_include_tag 'application', 
                               'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
